/********** VARIABLES COLORES *********/
$verde: #29a352;
$azul: #19334d;

/********** /VARIABLES COLORES *********/
/********** MIXINS **********/


/********** /MIXINS **********/



/***** header*****/
header {
	background-color: $verde;
}
	.navbar.navbar-inverse{

}




/****  /header *****/


